# Ignore all builds
/build/
# Ignore bin outut directory
/bin/
# Ignore library output directory
/lib/
# Ignore demo binary in demo dir
/demo/demo
# Ignore data director (23 GB...)
/data
#ignore log files
*.html
